@font-face {
  src: url('./font/Inter-Regular.woff');
  src: url('./font/Inter-Regular.woff2');
  font-family: 'Inter';
}

@font-face {
  src: url('./font/Inter-Black.woff');
  src: url('./font/Inter-Black.woff2');
  font-family: 'Inter';
  font-weight: bold;
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

.header {
  display: flex;
  max-width: 1184px;
  min-width: 288px;
  margin: 28px auto 56px;
  justify-content: space-between;
  align-items: center;
}

.header__lang-hide {
  position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.header__lang-link {
  margin-left: 18px;
  font-size: 24px;
  line-height: 28px;
  color: white;
}

.header__lang-hide:checked + .header__lang-link {
  text-decoration: underline;
}

.header__lang-hide:hover + .header__lang-link {
  cursor: pointer;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  color: white;
  text-align: center;
  margin: 0 0 32px;
}

.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  color: white;
  text-align: center;
  margin: 0 0 64px;
}

.lead__illustration {
  margin: 0;
}

.lead__image {
  width: 100%;
}

.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  color: white;
  text-transform: uppercase;
}

.intro {
  max-width: 984px;
  margin: 85px auto 100px;
}

.intro__title {
  margin: 0;
  font-size: 54px;
  line-height: 58px;
  color: white;
}

.intro__text {
  font-size: 16px;
  line-height: 1.6;
  color: white;
  max-width: 690px;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
}

.inter__list-value {
  font-weight: normal;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  max-width: 1184px;
  margin: 0 auto 92px;
}

.photo-grid__image {
  width: 100%;
}

.places-review {

}

.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.place {
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto auto;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
  "title website"
  "image text";
  margin-bottom: 80px;
}

.place__title {
  grid-area: title;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  color: white;
  word-wrap: wrap;
}

.place__image {
  grid-area: image;
  max-width: 460px;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__url-heading {
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: .2em;
  color: white;
}

.place__link {
  color: white;
  font-size: 18px;
  line-height: 22px;
}

.place__paragraphs {
  grid-area: text;
  display: flex;
  flex-direction: column;
}

.place__paragraph {
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 1.63;
  color: white;
}

.cover {
  background-image: url('./images/cover-background.jpg');
  max-width: 1184px;
  margin: 0 auto 92px;
  display: flex;
}

.cover__overlay {
  box-sizing: content-box;
  background-color: rgba(42, 44, 47, .3);
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.cover__overlay:hover {
  box-sizing: content-box;
  background-color: rgba(42, 44, 47, .8);
  cursor: pointer;
  transition: .1s;
}

.cover__title {
  font-size: 72px;
  line-height: 76px;
  color: white;
  margin: 245px auto 32px;
  max-width: 560px;
  text-align: center;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto 245px;
  color: white;
  max-width: 360px;
  text-align: center;
}

.footer {
  max-width: 1184px;
  display: flex;
  margin: 0 auto 24px;
  justify-content: space-between;
}

.footer__resources {
  display: flex;
  padding: 0;
  list-style: none;
}

.footer__link {
  text-decoration: none;
  margin-right: 18px;
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  color: white;
}
