.places__article {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1279px) {
  .places__article {
    column-gap: 3.4%;
  }
}

@media screen and (max-width: 1023px) {
  .places__article {
    column-gap: 4.4%;
  }
}

@media screen and (max-width: 767px) {
  .places__article {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(auto-fill, auto);
    row-gap: 32px;
  }
}
