.places__article {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 47% calc(53% - 40px);
  gap: 48px 40px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .places__article {
    grid-template-columns: 47% calc(53% - 32px);
    row-gap: 32px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .places__article {
    grid-template-columns: 47% calc(53% - 28px);
    row-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .places__article {
    grid-template: repeat(3, minmax(min-content, max-content))/100%;
    row-gap: 32px;
  }
}
