.lead {
  display: grid;
  grid-template-columns: auto 984px auto;
  justify-items: center;
  margin-top: 56px;
}

@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .lead {
    grid-template-columns: minmax(auto, 148px) minmax(928px, 984px) minmax(auto, 148px);
    margin-top: 48px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .lead {
    grid-template-columns: minmax(0, 48px) minmax(748px, 928px) minmax(0, 48px);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    grid-template-columns: 0 minmax(320px, 768px) 0;
  }
}
