.lead {
  display: grid;
  grid-template-columns: minmax(48px, auto) minmax(928px, 984px) minmax(48px, auto);
  justify-items: center;
  margin-top: 56px;
}

@media screen and (max-width: 1100px) {
  .lead {
    margin-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    grid-template-columns: minmax(0, 48px) minmax(768px,928px) minmax(0, 48px);
  }
}

@media screen and (max-width: 999px) {
  .lead {
    grid-template-columns: 0 auto 0;
  }
}
