.cover__subtitle {
  grid-row: 2;
  grid-column: 1/-1;
  z-index: 2;
  justify-self: center;
  align-self: start;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
  margin: 0;
}

@media screen and (max-width: 665px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
