.header {
  display: grid;
  grid-template: 28px auto/minmax(48px, auto) minmax(928px, 1184px) minmax(48px, auto);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    grid-template: 28px auto/minmax(24px, 48px) minmax(720px, 928px) minmax(24px, 48px);
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .header {
    grid-template: 28px auto/minmax(16px, 24px) minmax(288px, 720px) minmax(16px, 24px);
  }
}
