.photo-grid__gallery {
  margin: 0;
  padding: 0;
  grid-column: 2/3;
  list-style: none;
  display: grid;
  grid-template: auto/repeat(auto-fit, 284px);
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .photo-grid__gallery {
    grid-template: auto/repeat(auto-fit, minmax(284px, 300px));
    gap: 14px;
  }
}

@media screen and (max-width: 999px) {
  .photo-grid__gallery {
    grid-template: auto/repeat(auto-fit, minmax(284px, 352px));
    gap: 16px;
  }
}

@media screen and (max-width: 665px) {
  .photo-grid__gallery {
    gap: 12px;
  }
}
