.photo-grid__gallery {
  display: grid;
  grid-column: 2/3;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .photo-grid__gallery {
     grid-template: repeat(4, 1fr)/repeat(3, 1fr);
     gap: 14px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .photo-grid__gallery {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 24px;
      padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__gallery {
      grid-auto-flow: row;
      grid-template-columns: 100%;
      grid-auto-columns: 100%;
      padding-left: 16px;
      padding-right: 16px;
      gap: 12px;
  }
}
