.photo-grid__wrapper {
  grid-column: 2/3;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(288px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 767px) {
  .photo-grid__wrapper {
    row-gap: 12px;
  }
}
