.footer__copyright {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    grid-row: -1;
    justify-self: start;
  }
}
