.cover {
  display: grid;
  grid-template-columns: minmax(48px, auto) minmax(1024px, 1184px) minmax(48px, auto);
}

@media screen and (max-width: 1120px) {
  .cover {
    grid-template-columns: minmax(0, 48px) minmax(1000px, 1184px) minmax(0, 48px);
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    grid-template-columns: 0 minmax(auto, 1024px) 0;
  }
}
