.cover__background {
  grid-column: 2/3;
  grid-row: 1/-1;
  background-image: url(../../../images/cover-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  z-index: 0;
  padding-top: 62.5%;
}
