.footer {
  display: grid;
  grid-template: repeat(2, auto)/minmax(48px, auto) minmax(928px, 1184px) minmax(48px, auto);
  margin: 92px 0 24px;
}

@media screen and (max-width: 1100px) {
  .footer {
    grid-template-columns: 48px auto 48px;
  }
}

@media screen and (max-width: 999px) {
  .footer {
    grid-template-columns: 24px auto 24px;
  }
}

@media screen and (max-width: 470px) {
  .footer {
    grid-template-columns: 16px auto 16px;
  }
}
