.footer {
  display: grid;
  grid-template-columns: minmax(48px, auto) minmax(928px, 1184px) minmax(48px, auto);
  margin: 92px 0 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    grid-template-columns: minmax(24px, auto) minmax(720px, 1184px) minmax(24px, auto);
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template: auto/ 16px minmax(186px, 720px) auto;
    row-gap: 48px;
    margin-top: 64px;
  }
}
